$blue: #B0E0E6;

$primary: #FD8173;
$secondary: #DFF5E0;

$text: #5a6660;

$link: $primary;

$family-display: 'Kreon', Georgia, serif;
$family-sans-serif: 'Open Sans', Arial, sans-serif;


$column-gap: 400px;